<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155247697-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-155247697-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>David Gabriele - Développeur web Lyon</title>
    <meta name="description" content="Développeur web sur Lyon, je met à disposition mes connaissances pour la création de sites internet et le développement d'applications web." />
    <meta name="keywords" content="Développeur web lyon, développement web, développeur freelance lyon, freelance, développeur symfony lyon, développeur symfony,
    développeur php lyon, développeur php, création site internet lyon, création site internet pas cher, freelance pas cher lyon, création de site internet lyon par cher, html, css, symfony 4, php framework,
    david gabriele, david gabriele lyon, dg web" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/cardsCompetences.css">
    <link rel="stylesheet" href="/assets/css/contactForm.css">
    <link rel="stylesheet" href="/assets/css/timeLine.css">
    <link rel="stylesheet" href="/assets/css/socialsMedias.css">
    <link rel="stylesheet" href="/assets/css/counterTextArea.css">

</head>
<body>
<!-- Background home -->
<div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>

<!-- Socials Medias -->
<div class="center">
    <div id="social-test">
        <ul class="social">
            <a href="https://github.com/gbrle" target="_blank"><li><i class="d-inline-block fa fa-github text-white" aria-hidden="true"></i></li></a>
            <a href="https://www.linkedin.com/in/david-gabriele/" target="_blank"><li><i class="d-inline-block fa fa-linkedin text-info" aria-hidden="true"></i></li></a>
        </ul>
    </div>
</div>



 <!-- Content Page -->
    <div class="content container-fluid p-0 p-md-5">
        <img alt="burger" id="burgerMenu" src="/assets/images/burger.png" class="burgerMenu" onclick="displayMenu()">

        <img alt="David Gabriele background" id="imageBackground" class="backgroundHome animate__animated animate__bounceInLeft w-50" src="/assets/images/developpeur-david-gariele-background.png">
        <nav id="responsiveMenu" class="responsiveMenu row d-none d-md-block">
            <div class="col-md-12 text-center align-self-center secular text-uppercase display-5 text-light">
                <p id="menuPresentation" class="d-block d-md-inline pl-3 pr-3 highlight menuCurrentSection" onclick="changePage(this.id)">Presentation</p>
                <p id="menuCompetences" class="d-block d-md-inline pl-3 pr-3 highlight" onclick="changePage(this.id)">Competences</p>
                <p id="menuRealisations" class="d-block d-md-inline pl-3 pr-3 highlight" onclick="changePage(this.id)">Experiences</p>
                <p id="menuContact" class="d-block d-md-inline pl-3 pr-3 highlight" onclick="changePage(this.id)">Contact</p>
            </div>
        </nav>


        <section class="row pt-5 containerContent">
            <!-- SECTION PRESENTATION -->
            <div id="menuPresentationSection" class="col-12 ml-0 mr-0 pl-md-5 pr-md-5 contentPages currentPage row animate__animated animate__backInLeft currentSection">
                <div class="col-12 col-md-12 mb-5 pb-5 pt-5 pt-md-0">
                    <h1 class="bitterFont display-3 text-light text-uppercase text-center">
                        David <span class="colorOrange">Gabriele</span>
                    </h1>
                    <h2 class="bitterFont display-4 text-light text-uppercase text-center mb-5">
                        <span class="colorOrange">Développeur</span> Web
                    </h2>

                    <p class="RalewayFont display-5 text-light text-center col-md-12 offset-lg-2 col-lg-8 offset-lg-2 mb-5">
                        Développeur web sur Lyon spécialisé sur le framework "<strong class="highlightOrangeStrong">Symfony</strong>", je suis disponible pour un CDD / CDI sur Lyon ou Villeurbanne.
                        Diplomé d'un BAC +2 en développement web et mobile à la <strong class="highlightOrangeStrong">Wild Code School</strong>
                    </p>
                    <h3 class="bitterFont text-center text-light text-uppercase mt-5 mb-2">>> <strong class="highlightOrangeStrong">Q</strong>ui Suis-je ? <<</h3>
                    <p class="RalewayFont display-6 text-light text-center col-md-12 offset-lg-2 col-lg-8 offset-lg-2 pb-5 mb-5">
                        David 34 ans. Ancien restaurateur, j'ai entrepris ma reconversion en 2018. Je m'intéresse au multimédia et au
                        <strong class="highlightOrangeStrong">développement web</strong> depuis mes 17 ans et développe des sites web pour
                        particuliers de manière <strong class="highlightOrangeStrong">autodidacte</strong>.
                        <br>
                        <br>
                        Je termine ma formation au campus "<strong class="highlightOrangeStrong">Wild Code School</strong>" en 2018 et j'obtiens le titre de développeur web & mobile niveau 3.
                        <br>
                        Une expérience professionnelle dans le domaine du RGPD, plus précisément sur le CRM de l'activité et sur la création de plusieurs sites vitrines à la demande de divers clients, me forme d'avantage à l'univers du web.
                        <br>
                        <br>
                        Je propose aujourd'hui mes services et mets à disposition mes qualités de développeur <strong class="highlightOrangeStrong">passionné et rigoureux</strong>.
                    </p>
                </div>
            </div>

            <!-- SECTION REALISATIONS -->
            <div id="menuRealisationsSection" class="col-12 ml-0 mr-0 pl-md-5 pr-md-5 contentPages row animate__animated animate__backInLeft d-none">
                <div class="col-12 col-md-12 mb-5 pb-5 pt-5 pt-md-0">
                    <h1 class="bitterFont display-3 text-light text-uppercase text-center">
                        <span class="colorOrange">E</span>xpériences
                    </h1>

                    <div class="timeline">

                        <h2 class="timeline__item timeline__item--year">2020</h2>

                        <div class="timeline__item experienceCard">
                            <a href="https://spinandgogo.com/" target="_blank">
                                <h3 class="timeline__title text-uppercase">Spin and gogo</h3>
                                <img alt="Site Spin and gogo Dg Web" src="/assets/images/experiencesImages/spinandgogo.jpg" class="img-timeLine">
                                <p class="timeline__blurb mt-3">
                                    Projet personnel visant la communauté poker. (VERSION BETA)
                                    <br>
                                    Plateforme web dont l'utilité est d'avoir accès à ses statistiques poker en temps réel.
                                    <br><br>
                                    Développement de l'application dans son intégralité.
                                    <br>
                                    - CRM Admin
                                    <br>
                                    - Système d'inscription complet
                                    <br>
                                    - Front / Back
                                    <br>
                                    - User Interface
                                    <br><br>
                                    Technos utilisées :

                                    SYMFONY 5.1 / PHP  / JAVASCRIPT
                                </p>
                            </a>
                        </div>

                        <div class="timeline__item experienceCard">
                            <a href="https://rfblabstudio.fr/" target="_blank">
                                <h3 class="timeline__title text-uppercase">rfb lab studio</h3>
                                <img alt="Site RFB Lab Studio David Gabriele" src="/assets/images/experiencesImages/rfblabstudio.png" class="img-timeLine">
                                <p class="timeline__blurb mt-3">
                                    Confection d'un site vitrine représentant un ingénieur du son. Celui-ci a pour but de mettre en avant
                                    son activité. Création d'un panel admin personnalisé avec gestion de news (Création et gestion).
                                    <br><br>
                                    Gestion du client et du projet dans sa totalité.
                                    <br><br>
                                    Technos utilisées :

                                    SYMFONY 4.4 / PHP  / JAVASCRIPT
                                </p>
                            </a>
                        </div>


                        <h2 class="timeline__item timeline__item--year">2019</h2>

                        <div class="timeline__item experienceCard">
                            <a href="#" target="_blank">
                                <h3 class="timeline__title text-uppercase">sport event flyers</h3>
                                <img alt="Site Sport Event Flyers Dg Web" src="/assets/images/experiencesImages/sporteventflyers.png" class="img-timeLine">
                                <p class="timeline__blurb mt-3">
                                    Projet personnel dont l'utilité est la génération de flyers d'évenements football.
                                    <br><br>
                                    Celle-ci a pour but de générer des annonces des prochains matchs de football diffusés dans
                                    les bars sous format image (réseaux sociaux).
                                    <br><br>
                                    Développement de l'application dans son intégralité,
                                    <br>
                                    - Front / Back
                                    <br>
                                    - Utilisation d'une API
                                    <br>
                                    - Création d'une API
                                    <br>
                                    - CRM Gestion de l'application
                                    <br><br>
                                    Technos utilisées :

                                    SYMFONY 4.4 / PHP (librarie "GD") / JAVASCRIPT / API
                                </p>
                            </a>
                        </div>

                        <div class="timeline__item experienceCard">
                            <a href="http://www.france-isolation-gratuit.com/" target="_blank">
                                <h3 class="timeline__title text-uppercase">france isolation</h3>
                                <img alt="Site France Isolation David Gabriele" src="/assets/images/experiencesImages/france-isolation.png" class="img-timeLine">
                                <p class="timeline__blurb mt-3">
                                    Création d'un site vitrine représentant l'activité du client.

                                    Ce site a pour but de récolter des "leads" afin de les démarcher par la suite.
                                    <br><br>
                                    Technos utilisées :

                                    HTML / CSS / PHP
                                </p>
                            </a>
                        </div>

                        <div class="timeline__item experienceCard">
                            <a href="https://www.i-dpo.com/" target="_blank">
                                <h3 class="timeline__title text-uppercase">Stage IDPO</h3>
                                <img alt="Stage chez IDPO de David Gabriele" src="/assets/images/experiencesImages/idpo.png" class="img-timeLine">
                                <p class="timeline__blurb mt-3">
                                    Stage en entreprise d'une durée de 2 mois.

                                    Secteur d'activité dans le domaine du RGPD, j'ai pu travailler sur le CRM de l'entreprise qui a
                                    pour but de gérer la clientèle. Travail avec la collaboration d'un développeur plus expérimenté (à distance).
                                    <br><br>
                                    Technos utilisées :

                                    SYMFONY 3.4
                                </p>
                            </a>
                        </div>

                        <h2 class="timeline__item timeline__item--year">2018</h2>

                        <div class="timeline__item experienceCard">
                            <a href="https://www.wildcodeschool.com/fr-FR" target="_blank">
                                <h3 class="timeline__title text-uppercase">WILD CODE SCHOOL</h3>
                                <img alt="Wild Code School" src="/assets/images/experiencesImages/wild.png" class="img-timeLine">
                                <p class="timeline__blurb mt-3">
                                    Formation en campus d'une durée de 5 mois. Diplome Développeur Web & Mobile équivalent BAC + 2 obtenu.
                                    <br><br>
                                    Parcours :
                                    <br>
                                    HTML / CSS / BOOTSTRAP / GIT / LINUX
                                    <br>
                                    PHP / SQL et les bonnes conventions de codage (MVC, PSR ...)
                                    <br>
                                    Symfony 4.2 et travail sur un projet dans un groupe de 5 en méthode agile.
                                </p>
                            </a>
                        </div>

                        <h2 class="timeline__item timeline__item--year">2003 à 2018</h2>

                        <div class="timeline__item experienceCard">
                                <h3 class="timeline__title text-uppercase">Avant ma reconversion</h3>
                                <p class="timeline__blurb mt-3">
                                    Pationné d'informatique depuis toujours, mes premières applications web ont été conféctionné dans les années 2000.
                                </p>
                        </div>

                        <div class="timeline__item experienceCard">
                                <h3 class="timeline__title text-uppercase">MONDE DE LA RESTAURATION</h3>
                                <p class="timeline__blurb mt-3">
                                    Serveur / Barman / Gérant en restauration
                                </p>
                        </div>

                    </div>

                </div>
            </div>

            <!-- SECTION COMPETENCES -->
            <div id="menuCompetencesSection" class="col-12 ml-0 mr-0 pl-md-5 pr-md-5 contentPages row animate__animated animate__backInLeft d-none">
                <div class="col-12 col-md-12 mb-5 pb-5 pt-5 pt-md-0">

                    <h2 class="bitterFont display-3 text-light text-uppercase text-center mb-5">
                        <span class="colorOrange">C</span>ompétences
                    </h2>

                    <p class="RalewayFont display-5 text-light text-center col-md-12 offset-lg-2 col-lg-8 offset-lg-2 mb-5">
                        Je me forme au quotidien à de nouvelles <strong class="highlightOrangeStrong">technologies</strong>. Chaque problème rencontré est un plus en savoir faire.
                        Ouvert à toute nouvelles technologies, l'apprentissage ne me fait pas peur.
                    </p>
                    <div class="container text-center  pb-5 mb-5">
                        <img alt="David Gabriele Background compétences" src="/assets/images/backgroundCompetences.png" class="img-fluid">
                    </div>

                </div>
            </div>

            <!-- SECTION CONTACT -->
            <div id="menuContactSection" class="col-12 ml-0 mr-0 pl-md-5 pr-md-5 contentPages row animate__animated animate__backInLeft d-none">
                <div class="col-12 col-md-12 mb-5 pb-5 pt-5 pt-md-0">

                    <h2 id="titleContact" class="bitterFont display-3 text-light text-uppercase text-center mb-5 animate__animated">
                        <span class=highlightOrangeStrong>C</span>ONTACT
                    </h2>
                    <p id="secondTitleContact" class="RalewayFont display-5 text-light text-center col-md-12 offset-lg-2 col-lg-8 offset-lg-2 animate__animated">
                        Laissez-moi votre message et vos coordonnées, je vous répondrai dans les plus brefs délais.
                    </p>
                    <div id="messageTextArea" class="col-12 offset-0 offset-xl-3 col-xl-6 offset-0 offset-xl-3 wrapper animate__animated">
                        <div class="cmd">
                            <p id="counterBlock" class="counterBlock"></p>

                            <div class="title-bar">Message :</div>
                            <textarea id="messageContact" spellcheck="false" class="textarea bg-dark animate__animated" placeholder="Tapez votre message (limité à 2000 caractères)"></textarea>
                        </div>
                    </div>

                    <!-- Captcha input -->
                    <div id="captchaArea" class="col-12 offset-0 offset-xl-3 col-xl-6 offset-0 offset-xl-3 wrapperCaptcha animate__animated">
                        <div class="cmdCaptcha">
                            <div class="title-barCaptcha">Captcha (Entrez la chaîne de caractère) : <span><img alt="captcha dg web" class="img-fluid rounded" src="{{ path('captcha') }}"></span></div>
                            <textarea id="captchaContact" spellcheck="false" class="text-center textareaCaptcha text-light bg-dark animate__animated" placeholder="Entrez le code"></textarea>
                        </div>
                        <button onclick="sendMailContact()" type="button" class="btn btn-subMail mt-5 text-uppercase text-light w-100">Envoyer</button>
                    </div>

                    <h2 id="confirmSendMail" class="highlightOrangeStrong bitterFont display-3 text-uppercase text-center mb-5 d-none animate__animated animate__backInLeft" style="color: #cb875f;">
                        Le message a bien été envoyé !
                    </h2>
                </div>
            </div>


        </section>
        
    </div>
    <!-- End Content Page -->



    <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script rel="script" src="/assets/js/ajax.js"></script>
<script rel="script" src="/assets/js/main.js"></script>
<script rel="script" src="/assets/js/contactForm.js"></script>
<script type="text/javascript">
    // Je récupère le captcha pour le comparer ensuite
    // ---------------------------->
    let captcha = '{{ captchaCode }}'
    function sendMailContact(){
        let messsageUserDiv = document.getElementById('messageContact');
        let captchaUserDiv = document.getElementById('captchaContact');
        // Données reçus
        // ---------------------------->
        let messsageUser = document.getElementById('messageContact').value;
        let captchaUser = document.getElementById('captchaContact').value;


        // Si le nombre de caractere du message est plus petit que 2001 ET que le catcha est totalement egale
        if ((messsageUser.length < 2001 && messsageUser.length !== 0) && captchaUser === captcha){
            // j'appelle ma fonction "send mail"
            sendMail()
        }   else {
            // SINON Je m'occupe des erreurs
            if(messsageUser.length < 2001 && messsageUser.length !== 0){
                message_conform()
            }   else {
                message_wrong()
            }
            if (captchaUser === captcha){
                captcha_conform()
            }   else {
                captcha_wrong()
            }
        }

        // Fonction Erreurs
        // ------------------------------------------------------>
        function message_conform(){
            messsageUserDiv.classList.remove('bg-dark')
            messsageUserDiv.classList.add('bg-success')
        }
        function captcha_conform(){
            captchaUserDiv.classList.remove('bg-dark')
            captchaUserDiv.classList.add('bg-success')
        }
        function message_wrong(){
            messsageUserDiv.classList.add('animate__flash')
            messsageUserDiv.classList.remove('bg-dark')
            messsageUserDiv.classList.add('bg-danger')
            setTimeout(function(){
                    messsageUserDiv.classList.remove('animate__flash')
                    messsageUserDiv.classList.remove('bg-danger')
                    messsageUserDiv.classList.add('bg-dark')
                }
                , 1000);
        }
        function captcha_wrong(){
            captchaUserDiv.classList.add('animate__flash')
            captchaUserDiv.classList.remove('bg-dark')
            captchaUserDiv.classList.add('bg-danger')
            setTimeout(function(){
                    captchaUserDiv.classList.remove('animate__flash')
                    captchaUserDiv.classList.remove('bg-danger')
                    captchaUserDiv.classList.add('bg-dark')
                }
                , 1000);
        }

    }

    function sendMail(){
        let messsageUser = document.getElementById('messageContact').value;
        let captchaUser = document.getElementById('captchaContact').value;

        let data = {};
        data.message = messsageUser;
        data.captcha = captchaUser;

        // Je retire mon formulaire
        document.getElementById('messageTextArea').classList.add('animate__backOutLeft')
        document.getElementById('captchaArea').classList.add('animate__backOutLeft')
        document.getElementById('titleContact').classList.add('animate__backOutLeft')
        document.getElementById('secondTitleContact').classList.add('animate__backOutLeft')


        ajaxPost('/mail', JSON.stringify(data), function (){


            setTimeout(function(){
                    document.getElementById('messageTextArea').classList.add('d-none')
                    document.getElementById('captchaArea').classList.add('d-none')

                    document.getElementById('confirmSendMail').classList.remove('d-none')


                }
                , 1000);
                // J'affiche un message de confirmation d'envoi
        })
    }
</script>
</body>
</html>