<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
    </head>
    <body style="background-color: black;">
        <h1 style="color: white; border: 1px beige dashed; text-align: center">Dg<span style="color: orange">Web</span></h1>

        <p style="text-align:center; color: white;">Bonjour,</p>
        <p style="text-align: center; color: white;">Un mail provenant de Dg Web !
        </p>
        <br>
        <p style="margin:20px;text-align: center; color: white;"><span style="font-size: 35px">"</span>{{ contentMail|raw }}<span style="font-size: 35px">"</span></p>
    </body>
</html>