@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text {
    font-size: 30px;
    text-align: center;
}

.text p {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.text .word {
    text-align: center;
    opacity: 0;
}

.text .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.text .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.text .letter.behind {
    transform: rotateX(-90deg);
}

.text .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text .wisteria {
    color: #8e44ad;
}

.text .belize {
    color: #2980b9;
}

.text .pomegranate {
    color: #c0392b;
}

.text .green {
    color: #16a085;
}

.text .midnight {
    color: white;
}
