<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<!--
🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡          🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡
🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡          🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡
🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡          🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡
🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡          🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡 | 🅓🅖-🅦🅔🅑.🅕🅡
-->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155247697-1"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>David Gabriele - Développeur web Lyon</title>
    <meta name="description" content="Développeur web sur Lyon, je met à disposition mes connaissances pour la création de sites internet et le développement d'applications web." />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/socialsMedias.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/animate.css">

</head>
<body>
<!-- Background home -->
<div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>

<!-- Socials Medias -->
<div class="center">
    <div id="social-test">
        <ul class="social">
            <a href="https://github.com/gbrle" target="_blank"><li><i class="d-inline-block fa fa-github text-white" aria-hidden="true"></i></li></a>
            <a href="https://www.linkedin.com/in/david-gabriele/" target="_blank"><li><i class="d-inline-block fa fa-linkedin text-info" aria-hidden="true"></i></li></a>
        </ul>
    </div>
</div>



<!-- Content Page -->
<div id="content" class="content container-fluid p-0 p-md-5">
    <img alt="David Gabriele background" id="imageBackground" class="backgroundHome animate__animated animate__bounceInLeft w-50" src="/assets/images/developpeur-david-gariele-background.png">



    <section class="row pt-5 containerContent">
        <!-- SECTION 404 ERROR -->
        <div id="menuPresentationSection" class="col-12 ml-0 mr-0 pl-md-5 pr-md-5 contentPages currentPage row animate__animated animate__backInLeft currentSection">
            <div class="col-12 col-md-12 mb-5 pb-5 pt-5 pt-md-0">
                <h1 class="bitterFont display-3 text-light text-uppercase text-center">
                    ERREUR <span class="colorOrange">404</span>
                </h1>

                <p class="RalewayFont display-5 text-light text-center col-md-12 offset-lg-2 col-lg-8 offset-lg-2 mb-5">
                    Cette page n'existe pas !
                    <br>
                    <br>
                    [ <a href="{{ path('home') }}">Revenir sur le site</a> ]
                </p>
            </div>
        </div>

    </section>

</div>
<!-- End Content Page -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script rel="script" src="/assets/js/main.js"></script>

</body>
</html>